.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
    /* margin-left: 50px; */
}
.image{
     margin-left: 50px; 
}
.panda-slid .carousel-item{
    background-color: #fceae8;
    border-radius: 2em;
}